footer.footer {
  position: absolute;
  /* top: -1000px !important;  */
  z-index: 10;
  text-align: center;
  padding: 30px 0;
  margin: 0 auto;
  border-top: 1px solid #E5E5E5;
}

.footer-links a {
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
  text-decoration: underline;
  color: black;
}

.footer-links a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#cta-button {
  width: 10em;
  height: 3em;
  border-radius: 1.5em;
  border: 2px solid black;
  font-size: 1.4em;
}

.btn-container {
  padding-top: 5em;
  padding-bottom: 5em;
}

.modalButton {
  margin-top: 10%;
  margin-bottom: 10%;
}