<div class="container">
  <!-- <h2>Modal Example</h2> -->
  <!-- Trigger the modal with a button -->
  <div class="row text-center">
    <main-btn></main-btn>
  </div>
  <!-- <div class="row text-center">
    <div class="col-sm-12">
      <button type="button" class="btn btn-default btn-lg modalButton" data-toggle="modal" data-target="#myModal">LET'S EAT</button>
    </div>
  </div> -->
      
    
<!-- <section class="btn-container">
  <div class="row text-center">
    <div class="col-sm-12">
      <a href="/contact">
        <button class="btn btn-default btn-lg" id="cta-button">Let's eat!</button>
      </a>
    </div>
  </div>
</section> -->

  
  <div class="row text-center">
    <div class="col-sm-12  footer-links">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/services">Services</a>
      <a href="/menu">Menu</a>
      <a href="/events">Events</a>
    </div>
  </div>
</div>

