<a href="https://codepen.io/EricPorter/pen/XaOEpP?limit=all&page=2&q=image+sliders">Link to cool sliders with javascript that i have no idea how to implament.</a>

<!-- <h2 style="text-align: center;">Options shown below. Each slider has different options set.</h2> -->

<!-- Slider 1 -->
<div class="glider" id="slider1">
    <!-- Slides -->
    <div style="background-image:url(../assets/images/d1.jpg)"></div>
    <div style="background-image:url(../assets/images/d3.jpg)"></div>
    <div style="background-image:url(../assets/images/d5.jpg)"></div>
    <div style="background-image:url(../assets/images/d1.jpg)"></div>
    <div style="background-image:url(../assets/images/d3.jpg)"></div>
    <!-- The Arrows -->
    <i class="left" class="arrows" style="z-index:2; position:absolute;"><svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"></path></svg></i>
    <i class="right" class="arrows" style="z-index:2; position:absolute;"><svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" transform="translate(100, 100) rotate(180) "></path></svg></i>
    <!-- Title Bar -->
    <span class="titleBar1">
        <h1>This Slider has all default settings.</h1>
    </span>
</div>