#mc_embed_signup .button {
  background-color: #962727;

}

.emailImage {
  margin-top: 5%;
}

.imageButton {
  background-color: #962727;
  color: #fff;
}

#mc_embed_signup form {
  display: block;
  position: relative;
  text-align: left;
  padding: 10px 0 10px 3%;
}