#myCarousel .item img {
  height: 70vh;
  object-fit: cover;
}

.imageSlider {
  margin-bottom: 5%;
  margin-top: 1%;
  position: static;
}

.heroText {
  color: white;
  position: relative;
  bottom: 50px;
  font-size: 3em;
  font-family: freight-big-pro, serif;
  font-weight: 300;
  font-style: normal;
}