<div class="container-fluid containerStyle">

  <section class="aboutHeader">
    <div class="row">
      <h3 class="col-md-12 text-center aboutHeader1 h3">DOROTA SOTO</h3>
    </div>
    <div class="row">
      <h1 class="col-md-12 text-center aboutHeader2 h1">Personal Chef</h1>
    </div>
  </section> 

  <!-- <div class="hero-unit"></div> -->
  <div class="row">
    <img src="../assets/images/d11.jpg" class="img-responsive" id="aboutImage" >
  </div>
  
  <section class="aboutDorota">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <h2 class="aboutDorotaHeader ">Dorota Soto is a chef, personal trainer and certified nutritionist based in New York City.</h2> 
      </div>
      <div class="col-sm-3"></div>  
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <p class="aboutDorotaParagraph lead">Dorota was born and raised in the small beach town of Sopot, Poland. After moving to New York, she became fascinated with health and fitness. 
            She received her certification as a personal trainer and nutrition coach, but she always loved cooking. She continued looking for ways to help 
            people get the most nutrition out of their food and meals.
        </p>
      </div>
      <div class="col-sm-3"></div>
    </div>

    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <p class="aboutDorotaParagraph">Dorota strives to create meals that are not only delicious, but nutritious too. As a
            fitness and nutrition coach, as well as a triathlete herself, she inspires her clients to lead active and healthy lifestyles.
        </p>
      </div>
      <div class="col-sm-3"></div>
    </div>

    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <p class="aboutDorotaParagraph">She believes that by making eating healthy as convenient as possible, a healthy lifestyle and fitness goals are well within our reach.
        </p>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </section>

  <section>
    <div class="row"> 
      <div class="col-sm-2"></div> 
      <div class="col-sm-8">
        <h2 class="testimonial h2">"Dorota's meals are delicious, filling and help me stay on track to meet my fitness goals.With her help, I lost body fat, improved my diet and 
            increased my overall wellbeing."
        </h2>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center ">
        <h3 class="testimonialBottom">/ ASHLEY D /</h3>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h2 class="testimonial h2">
            "I have been using Dorota’s food service for a year now, and in that time she has 
            seen me go from omnivore, to vegetarian to mostly vegan. 
        </h2>
        <h2 class="testimonial">
            She not only humored me, but totally took it in her stride, coming up with delicious 
            meals for me, which made my food decisions a much easier transition.
        </h2>
        <h2 class="testimonial">
            I highly recommend her, not only for those too busy to deal with cooking every day, 
            but also to people like me, who want to make major changes and don’t have a clue where to begin."
        </h2>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center ">
        <h3 class="testimonialBottom">/ REBECCA SCOTT /</h3>
      </div>
    </div>
  </section>

</div>


<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
      </span>
    </p>
  </form>
</div> -->